html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  
  * {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
}

.content-wrap {
  width: 100%;
  height: 100%;
  display: flex;
}

// Init Component

.input-wrap-autocomplete {
  width: 200px;
  height: 40px;
  position: relative;
  margin: auto;
  
  &__field {
    width: 160px;
    height: 100%;
    margin: 0px;
    border-width: 1px 0 1px 1px;
    border-color: #dde3e6;
    border-style: solid;
    border-radius: 3px 0px 0px 3px;
    padding: 0px 10px;
    float: left;
    display: inline-block;
    
    &:focus {
      border-color: #147cff;
      outline: none;
    }
  }
  
  &__arrow {
    width: 40px;
    height: 100%;
    border-radius: 0px 3px 3px 0px;
    border-color: #147cff;
    background: #147cff;
    line-height: 40px;
    text-align: center;
    float: left;
    display: inline-block;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .autocomplete-options {
    position: absolute;
    top: 42px;
    left: 0px;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    background: #FFFFFF;
    border-radius: 3px;
    border: 1px solid #dde3e6;
    list-style: none;
    display: none;
    
    &__listitem {
      padding: 10px;
      border-bottom: 1px solid lighten(#dde3e6, 5%);
      cursor: pointer;
      
      &:hover {
        color: #147cff;
      }
      
      &:last-child {
        border-bottom: 0px;
      }
    }
  }
  
}